<%= render 'filter_form', start_date: start_date, end_date: end_date, particular: particular, user: user %>
<div class="report-container">
  <div class="report-header" style="text-align: center">
    <h2 style="margin: 0">
      LINGAYEN DAGUPAN TRANSPORT COOPERATIVE
    </h2>
    <p style="margin: 0">
      Brgy. Quibaol West, Highway, Lingayen Pangasinan
    </p>
    <p style="margin: 0">CDA Registration No. 9520-1010000000045365</p>
    <p style="margin: 0">TIN N0. 737-879-958-000</p>
    <h2 style="margin-top: 12px; margin-bottom: 4px">Masterlist Report</h2>
    <h4 style="margin: 0"><%= format_daterange(start_date, end_date) %></h4>
    <h4 style="margin: 0; margin-bottom: 40px"><%= user&.name || "All" %> Masterlist</h4>
  </div>
  <table class="report-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Share Capital</th>
        <th>Withdrawal of SC</th>
        <th>Balance of SC</th>
        <th>Membership Fee</th>
        <th>Consolidation</th>
        <th>Status of Shared Capital</th>
        <th>Status of Membership Fee</th>
        <th>Status of Consolidation</th>
      </tr>
    </thead>
    <tbody>
      <% master_lists = MasterList.all.where("created_at > ?", start_date.beginning_of_day).where("created_at < ?", end_date.end_of_day) %>
      <% master_lists = master_lists.where(user_id: user&.id) if user.present? %>
      <% total_paid_share_capital = 0 %>
      <% total_withdrawal_of_sc = 0 %>
      <% total_balance_of_share_capital = 0 %>
      <% total_paid_membership_fee = 0 %>
      <% total_paid_consolidation = 0 %>
      <% master_lists.each do |master_list| %>
        <% total_paid_share_capital = total_paid_share_capital + master_list.paid_share_capital %>
        <% total_withdrawal_of_sc = total_withdrawal_of_sc + master_list.withdrawal_of_sc %>
        <% total_balance_of_share_capital = total_balance_of_share_capital + master_list.balance_of_share_capital %>
        <% total_paid_membership_fee = total_paid_membership_fee + master_list.paid_membership_fee %>
        <% total_paid_consolidation = total_paid_consolidation + master_list.paid_consolidation %>
        <tr>
          <td><%= master_list.user.name %></td>
          <td><%= format_currency master_list.paid_share_capital %></td>
          <td><%= format_currency master_list.withdrawal_of_sc %></td>
          <td><%= format_currency master_list.balance_of_share_capital %></td>
          <td><%= format_currency master_list.paid_membership_fee %></td>
          <td><%= format_currency master_list.paid_consolidation %></td>
          <td><%= master_list.status_of_share_capital %></td>
          <td><%= master_list.status_of_membership_fee %></td>
          <td><%= master_list.status_of_consolidation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table class="summary-table" style="width: 200px;">
    <tr>
      <th style="width: 150px;">Share Capital</th>
      <td style="border-bottom: none; text-align: right"><%= format_currency total_balance_of_share_capital %></td>
    </tr>
    <tr>
      <th style="width: 150px;">Withdrawal of SC</th>
      <td style="border-bottom: none; text-align: right"><%= format_currency total_withdrawal_of_sc %></td>
    </tr>
    <tr>
      <th style="width: 150px;">Balance of SC</th>
      <td style="border-bottom: none; text-align: right"><%= format_currency total_balance_of_share_capital %></td>
    </tr>
    <tr>
      <th style="width: 150px;">Membership Fee</th>
      <td style="border-bottom: none; text-align: right"><%= format_currency total_paid_membership_fee %></td>
    </tr>
    <tr>
      <th style="width: 150px;">Consolidation</th>
      <td style="border-bottom: none; text-align: right"><%= format_currency total_paid_consolidation %></td>
    </tr>
  </table>
</div>
